@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(http://themes.googleusercontent.com/static/fonts/sortsmillgoudy/v3/JzRrPKdwEnE8F1TDmDLMUkQF8YaxoHnTBii2CPCdpvk.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v3/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

html {
  margin: 0;
  padding: 0;
  background: #fafdf7;
}
@media screen and (min-width: 1300px) {
  html {
    background: url(face.png) right bottom fixed #fafdf7 no-repeat;
  }
}

body {
  overflow-y: scroll;
  margin: auto;
  padding: 20px 0;
  max-width: 800px;
  position: relative;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 110%;
  font-weight: 300;
  line-height: 1.4;
  color: #050505;
}

h1, h2, h3 { font-weight: normal; ddfont-family: "Times New Roman", serif; margin: 0; letter-spacing: .03em; }
h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }

#title > div {
  padding: 3px 25px 7px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#title .line {
  padding: 0;
  height: 3px;
  background: url(border.png);
}

#main {
  width: 75%;
  float: left;
  padding: 10px 25px 70px;
}

#full {
  padding: 10px 25px 70px;
}

#side {
  text-align: right;
  margin-left: 80%;
  padding: 10px 25px 70px 0;
}

a {
  color: #743511;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.post { margin: 15px 0; }
.date { color: #606868; font-size: 80%; }

.tag { cursor: pointer; color: #326; font-size: 80%; background: #eef; padding: 0 2px; border-radius: 4px; }
.tag:hover { background: #ddf; }
.tag.selected { background: #cff; color: #166; }
.tag.selected:hover { background: #aff; }

.taglist, .taglist li {
  padding: 0; margin: 0;
  list-style: none;
}
ul.taglist li:before { content: ""; }

pre, code {
  font-family: "Ubuntu Mono", monospace;
}

code {
  color: #444;
  background: #f1f1df;
  border-radius: 3px;
  padding: 0 3px;
  font-size: 90%;
}

pre code {
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: 100%;
}

pre {
  line-height: 1.4;
  border-left: 4px dotted #d6d7d5;
  margin-left: -18px;
  padding-left: 14px;
}

.undertitle {
  margin-top: -5px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
ul li { position: relative }
ul li:before {
  position: absolute;
  content: "✼";
  display: block;
  width: 1.5em;
  left: -1.5em;
  top: .25em;
  font-size: 80%;
}

ol {
  padding-left: 0;
}

/* CodeMirror styling */

.cm-keyword {color: #607;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable-2 {color: #048;}
.cm-variable-3 {color: #085;}
.cm-comment {color: #840;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #555;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-emstrong {font-style: italic; font-weight: bold;}
.cm-link {text-decoration: underline;}
