@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

html {
  margin: 0;
  padding: 0;
  background: url(face.png) right bottom fixed #f5f8f1 no-repeat;
}
body {
  overflow-y: scroll;
  margin: auto;
  padding: 20px 0;
  max-width: 800px;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #050505;
  background: rgba(245, 248, 241, .8);
}

h1, h2 { font-weight: normal; margin: 0; font-family: 'Times New Roman'; }
h1 { font-size: 160%; }
h2 { font-size: 130%; }

#title > div {
  padding: 3px 25px 7px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#title .line {
  padding: 0;
  height: 3px;
  background: url(border.png);
}

#main {
  width: 75%;
  float: left;
  padding: 10px 25px 70px;
}

#full {
  padding: 10px 25px 70px;
}

#side {
  text-align: right;
  margin-left: 80%;
  padding: 10px 25px 70px 0;
}

a {
  color: #441f07;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.post { margin: 15px 0; }
.date { color: #606868; font-size: 80%; }

.tag { cursor: pointer; color: #326; font-size: 80%; background: #eef; padding: 0 2px; border-radius: 4px; }
.tag:hover { background: #ddf; }
.tag.selected { background: #cff; color: #166; }
.tag.selected:hover { background: #aff; }

.taglist, .taglist li {
  padding: 0; margin: 0;
  list-style: none;
}

pre {
  padding-left: 5px;
  border-left: 3px solid #ddd;
  line-height: 1.4;
}

.undertitle {
  margin-top: -5px;
}

/* CodeMirror styling */

.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #555;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-emstrong {font-style: italic; font-weight: bold;}
.cm-link {text-decoration: underline;}
