<!doctype html>
<head>
  <<meta>>
  <title><<t $in.title>></title>
  <script src="res/filtertag.js"></script>
</head>

<<header>>

<div id=main>
  <<h $in.content>>

  <div id=postlist>
    <<for post site.posts>>
      <div class=post data-tags="<<for tag post.tags>><<t tag>>,<</for>>">
        <h2><a href="<<t post.url>>"><<t post.title>></a></h2>
        <div class=undertitle>
          <span class=date><<t dateFormat(post.date, "fullDate")>></span>
          <<for tag post.tags>> <span class=tag onclick='filterTag("<<t tag>>")'><<t tag>></span><</for>>
        </div>
      </div>
    <</for>>
  </div>
</div>

<div id=side>
  <p>Tags:</p>
  <ul class=taglist>
    <<for tag Object.keys(site.tags).map(tag => ({name: tag, posts: site.tags[tag]}))
                .filter(t => t.posts.length > 1).sort((a, b) => b.posts.length - a.posts.length) >>
      <li><span class=tag onclick='filterTag("<<t tag.name>>")'><<t tag.name>></span> (<<t tag.posts.length>>)</li>
    <</for>>
  </ul>
</div>
